
<div class="container" style="width: 800px; margin: 10px auto;">
  <div class="header">
    <div ng-show="null !== hasAdminUserToken && hasAdminUserToken">
      <a href="javascript:void(0)" class="btn btn-success" role="button" ng-click="linkBusinessManager()">Link Business Manager</a>
      <!--a href="javascript:void(0)" class="btn btn-success" role="button" ng-click="resetFbAccess()">Reset Facebook Access</a-->
    </div>
    <div ng-show="null !== hasAdminUserToken && !hasAdminUserToken">
      <a href="javascript:void(0)" class="btn btn-success" role="button" ng-click="authenticateFbAccess()">Authenticate Facebook Access</a>
    </div>
  </div>

  <hr/>

  <div class="row" ng-repeat="bm in bms">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <h3>{{ bm.name }}</h3>
	  <a href="javascript:void(0)" class="btn btn-warning" role="button" ng-click="unlinkBusinessManager(bm)">unlink</a>
        </div>
      </div>
    </div>
  </div>
</div>
