<div>
  <h1>RPI Social Solution</h1>
  <span>We provide integrated solution for managing your Facebook ad accounts, campaigns, ad sets, ads, pages.</span>

  <br/>
  <br/>
  <hr/>
  <h3>Get Started For Free</h3>
  <span>Starting today to build and manage campaigns.</span>

  <br/>
  <br/>
  <hr/>
  <h3>Easy to use</h3>
  <span>Save hours with pre-made templates that are built to convert</span>

  <br/>
  <br/>
  <hr/>
  <a href="#/businessManager" class="btn btn-success" type="button">Try it</a>
</div>
